/*
Team 116:  Luis Castro
           Matt Karn
           Vaughan Schmidt
Course:    CIS665 Spring 2017
Date:      March 17, 2017 
*/

body {
    background-color: rgb(241, 231, 218);
    line-height: 1.4em;
}

