/*
Footer.css

Keep our footer on the bottom of the page.
Credit: http://getbootstrap.com/examples/sticky-footer/

Team 116:  Luis Castro
           Matt Karn
           Vaughan Schmidt
Course:    CIS665 Spring 2017
Date:      Feb. 18, 
*/
/* footer styles */
html {
  position: relative;
  min-height: 100%;
}
body {
  /* Margin bottom by footer height */
  margin-bottom: 60px;
}
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 40px;
  background-color: #f5f5f5;
  padding-top: 10px;
  text-align: center;
}



